
.character-gallery__action-bar {
    display: flex;
    border-bottom: #3c3e44 3px solid;
    padding: 24px;
}

.character-gallery__search-input {
    margin: 5px;
    height: 32px;
    border-radius: 8px;
}

.character-gallery__error-text {
    font-size: x-large;
    color: white;
    margin: 16px 0px;
}

.character-gallery__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-gallery__gallery .character-card {
    margin: 12px;
}
